<h2>Ingrese los datos de los participantes</h2>
<p-divider></p-divider>
<form autocomplete="off"
    [formGroup]="lotteryForm"
    (ngSubmit)="onSave()">

    <div class="grid p-fluid">
        <div class="col-7">
            <div class="field">
                <label for="title" class="block">Titulo</label>
                <input id="title" type="text" aria-describedby="title-help"
                    pInputText formControlName="title">
                <small *ngIf="lotteryForm.get('title')?.errors?.['required'] && lotteryForm.dirty" id="title-help"
                    class="p-error block">El titulo es obligatorio</small>    
            </div>
        </div>
        <div class="col-5 flex align-content-center">
            <p-button icon="pi pi-plus" styleClass="p-button-success"
                class="mt-2 flex align-items-center justify-content-center" (onClick)="addPlayer()"></p-button>
        </div>
    </div>

    <ng-container formArrayName="participants">
        <ng-container *ngFor="let p of participants.controls; let i = index"
            [formGroupName]="i">
            <p-divider></p-divider>
            <div class="grid p-fluid">
                <div class="col-12 md:col-4">
                    <div class="field">
                        <label for="name" class="block">Nombre</label>
                        <input id="name" type="text" aria-describedby="name-help"
                            pInputText formControlName="name">
                        <small *ngIf="p.get('name')?.errors?.['required'] && p.dirty" id="name-help"
                            class="p-error block">El nombre es obligatorio</small>
                        <small *ngIf="p.get('name')?.errors?.['minlength'] && p.dirty" id="name-help"
                            class="p-error block">El nombre debe tener por lo menos {{
                                p.get('name')?.errors?.['minlength'].requiredLength
                                }} caracteres.</small>       
                    </div>
                </div>
                <div class="col-12 md:col-4">
                    <div class="field">
                        <label for="email" class="block">Email</label>
                        <input id="email" type="email" aria-describedby="email-help"
                            pInputText formControlName="email">
                        <small *ngIf="p.get('email')?.errors?.['required'] && p.dirty" id="email-help"
                            class="p-error block">El email es obligatorio</small>
                        <small *ngIf="p.get('email')?.errors?.['email'] && p.dirty" id="email-help"
                            class="p-error block">Debe ser un email valido</small>
                    </div>
                </div>
                <div class="col-12 md:col-4 flex align-content-center">
                        <p-button pRipple styleClass="p-button-warning p-button-rounded p-button-outlined" 
                        class="mt-2 flex align-items-center justify-content-center" icon="pi pi-trash" (onClick)="onDeletePlayer(i)"></p-button>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <p-button label="Generar Sorteo" styleClass="p-button-primary" type="submit" [disabled]="lotteryForm.invalid"></p-button>

</form>
