/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
    background-color: var(--surface-ground);
    color: var(--text-color);
    padding: 0;
    margin: 1;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}